h1 {
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 700;
}

a {
  text-decoration: none;
}

hr {
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0px auto;
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

small {
  display: block;
  font-size: 1em;
  margin-top: 1rem;
  color: #666;
}

.note-view > small {
  font-size: 1.6em;
}

.note-img {
  float: left;
  margin-right: 30px;
  margin-bottom: 10px;
}

.note-text {
  font-size: 20px;
}

.note {
  font-size: 20px;
}

.image-desc {
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  padding-bottom: 25px;
}