h1, small {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0px auto;
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

small {
  display: block;
}

.note-img {
  width: "125";
  height: "187";
  float: left;
  margin-right: 30px;
  margin-bottom: 10px;
}

.note-title {
  text-decoration: underline;
  color: black;
  font-size:xx-large;
}

.note-text {
  font-size: 1rem;
}

.image-desc {
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  padding-bottom: 25px;
}
